name: Publish package and release
on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}
permissions:
  contents: write
  packages: write
  issues: write
  checks: write
  pull-requests: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Setup Mise
        uses: jdx/mise-action@v3

      - name: Install Node.js Dependencies
        run: bun ci

      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          publish: bun changeset publish
          commit: "chore(release): publish"
          title: "Publish Package"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
